<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <h3>KubeLabs</h3>
        <p>A Curated List of Kubernetes Labs and Tutorials</p>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      </div>
      <div class="footer-links">
        <h4>Resources</h4>
        <ul>
          <li>
            <a href="https://github.com/ajeetraina/kubelabs" target="_blank">
              <i class="fab fa-github"></i> GitHub Repository
            </a>
          </li>
          <li>
            <a href="https://collabnix.com" target="_blank">
              <i class="fas fa-globe"></i> Collabnix Community
            </a>
          </li>
          <li>
            <a href="https://github.com/ajeetraina/kubelabs#-join-our-community" target="_blank">
              <i class="fas fa-users"></i> Join Our Community
            </a>
          </li>
          <li>
            <a href="https://twitter.com/collabnix" target="_blank">
              <i class="fab fa-twitter"></i> Follow on Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>